<div class="card col-12 col-sm-7 col-md-6 m-auto">
  <div class="card-body bg-light">
    <h4 class="my-2">Changer le mot de passe</h4>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="bg-white p-3">
      <div class="mb-3">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input formControlName="password" type="password" class="form-control"
          placeholder="Entrer votre nouveau mot de passe"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Entrer un nouveau mot de passe</div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-end mt-3">

        <button [disabled]="loading" class="btn btn-primary ">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Enregistrer
        </button>
      </div>


    </form>
  </div>

</div>
