<div class="card">
  <div class="card-body bg-light">
    <h4 class="mb-3 text-dark">Demandes d'ouverture d'un compte</h4>
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Type du compte</th>
          <th>Demande</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>61</td>
          <td>Tiger Nixon</td>
          <td>System Architect</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>63</td>
          <td>Garrett Winters</td>
          <td>Accountant</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>66</td>
          <td>Ashton Cox</td>
          <td>Junior Technical Author</td>
          <td>200test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>22</td>
          <td>Cedric Kelly</td>
          <td>Senior Javascript Developer</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>33</td>
          <td>Airi Satou</td>
          <td>Accountant</td>
          <td>200test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>61</td>
          <td>Brielle Williamson</td>
          <td>Integration Specialist</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>29</td>
          <td>Michael Bruce</td>
          <td>Javascript Developer</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
        <tr>
          <td>27</td>
          <td>Donna Snider</td>
          <td>Customer Support</td>
          <td>201test@email.com</td>
          <td>HSSAB1</td>
          <td>activer</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
