<div class="card mb-3">
  <div class="card-body bg-light">
    <h4 class="mb-3 text-dark">Demandes d'ouverture d'un compte</h4>
    <table class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Type du compte</th>
          <th>Demande</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; let i = index">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.surname}}</td>
          <td>{{client.email}}</td>
          <td>{{client.productType}}</td>
          <td><button class="btn btn-primary" type="button" (click)="confirmAccount(client)">
              confirmer
            </button>
            <button class="btn btn-danger" type="button" (click)="denyAccount(client)">
              refuser
            </button>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>
