<div class="container mt-4">
  <div class="card">



    <div class="card-body bg-light">
      <h4 class="mb-3 text-dark">Ouverture d'un compte de paiement</h4>
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="bg-white p-3">
        <div class="row mb-2">
          <div class="form-group col">
            <label for="productType">Sélectionner un produit</label>
            <select formControlName="productType" class="form-control">
              <option selected=""> Sélectionner un produit...</option>
              <option>HSSAB1</option>
              <option>HSSAB2</option>
              <option>HSSAB3</option>
            </select>
          </div>
        </div>

        <div class="row  mt-3">
          <div class="form-group col ">
            <h4 class="border-bottom pb-1 title-divider">Informations client</h4>
          </div>
        </div>
        <div class="row mb-2">


          <!-- <div class="form-group col">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
      </div> -->
          <div class="col form-group ">
            <label for="name">Nom</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Entrer un nom</div>
            </div>
          </div>

          <div class="col form-group ">
            <label for="surname">Prénom</label>
            <input type="text" formControlName="surname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }" />
            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
              <div *ngIf="f['surname'].errors['required']">Entrer un prénom</div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="form-group col">
            <label for="phone">Téléphone</label>
            <input type="text" formControlName="phone" class="form-control "
              [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
              <div *ngIf="f['phone'].errors['required']">Entrer un numéro de téléphone</div>
            </div>
          </div>

          <div class="form-group col">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Entrer un email</div>
            </div>

          </div>
        </div>

        <div class="form-group d-flex justify-content-end mt-3">
          <a routerLink="/" class="btn btn-light ">Annuler</a>
          <button [disabled]="loading" class="btn btn-primary ms-2">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
